[Unit]
Description=IdM Server Installation
After=network-online.target firewalld.service usr-share-ipa-html.mount
Wants=network-online.target firewalld.service usr-share-ipa-html.mount
Before=sssd.service ipa.service
ConditionPathExists=!/etc/ipa/default.conf

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/idm-server-install.sh
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal
TimeoutStartSec=1800

[Install]
WantedBy=multi-user.target