[Unit]
Description=PoS service
After=network.target
Requires=copy-embedded-images.service

[Container]
Image=quay.io/luisarizmendi/tailwind-pos:latest
PublishPort=8080:8080

[Install]
WantedBy=multi-user.target default.target