[Unit]
Description=MicroShift LVMS setup
After=local-fs.target systemd-udev-trigger.service
Wants=systemd-udev-trigger.service
ConditionPathExists=!/etc/microshift/lvms.yaml

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/microshift-lvms-setup.sh
RemainAfterExit=no

[Install]
WantedBy=multi-user.target